.pickfriend {
    width: 100%;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    padding: 2.5rem 0 0rem 0;
}

@media (max-width:990px) {
    .pickfriend {
        padding: 2.5rem 1.9rem 0rem 1.9rem;
    }
}

@media (max-width:655px) {
    .pickfriend {
        padding: 1.9rem 0rem 0rem 0rem;
    }
}

.container__pickfriend {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    /* border: 1px solid black; */
    font-family: 'Roboto';
    font-style: normal;
    color: #FFFFFF;
    padding-bottom: 199px;

}

@media (max-width:1000px) {
    .container__pickfriend {
        max-width: 940px;
        padding-bottom: 49px;
    }
}

@media (max-width:655px) {
    .container__pickfriend {
        max-width: 600px;
    }
}

@media (max-width:620px) {
    .container__pickfriend {
        max-width: 500px;
    }
}

@media (max-width:510px) {
    .container__pickfriend {
        max-width: 400px;
    }
}

@media (max-width:410px) {
    .container__pickfriend {
        max-width: 360px;
    }
}

@media (max-width:320px) {
    .container__pickfriend {
        max-width: 300px;
    }
}

.pickfriend__title {
    font: inherit;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.937rem;
    padding: 0.1rem 0.2rem 0 0;
}

@media (max-width:1000px) {
    .pickfriend__title {
        width: 90%;
        padding: 0;
        align-self: flex-start;
    }
}

@media (max-width:655px) {
    .pickfriend__title {
        width: 95%;
        font-size: 1.5rem;
        line-height: 1.812rem;
        padding: 0rem 0.2rem 0 0;
    }
}

@media (max-width:320px) {
    .pickfriend__title {
        width: 100%;
    }
}

.pickfriend__text {
    font: inherit;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.375rem;
    padding: 0.58rem 0 0 0;
}

@media (max-width:1000px) {
    .pickfriend__text {
        width: 100%;
        padding: 1.9rem 0.2rem 0 0;
    }
}

@media (max-width:655px) {
    .pickfriend__text {
        width: 100%;
        padding: 1.2rem 0rem 0 0;
    }
}

.pickfriend__subtitle {
    font: inherit;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.937rem;
    align-self: flex-start;
    color: #FE9013;
    padding: 2.9rem 0 0 0;
}

@media (max-width:655px) {
    .pickfriend__subtitle {
        padding: 1.9rem 0 0 0;
    }
}

@media (max-width:320px) {
    .pickfriend__subtitle {
        font-size: 24px;
        line-height: 120%;
    }
}

.pickfriend__donate {
    width: 100%;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    margin: 3.75rem 0 0 0;
    padding: 2.5rem 0 0 0;
}

@media (max-width:1000px) {
    .pickfriend__donate {
        margin: 2.4rem 0 0 0;
        padding: 1.3rem 0.2rem 0 0;
        /* border: 1px solid black; */
    }
}

@media (max-width:655px) {
    .pickfriend__donate {
        margin: 1.87rem 0 0 0;
    }
}

.donate__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* border: 1px solid black; */
    margin: 0 auto;
}


.donate__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.625rem;
    text-align: center;
    color: #FE9013;
    padding: 0 0.75rem 0 0;
}

@media (max-width:655px) {
    .donate__subtitle {
        padding: 0.6rem 0 0 0.3rem;
        /* border: 1px solid black; */
    }
}

@media (max-width:520px) {
    .donate__subtitle {
        font-size: 24px;
        line-height: 120%
    }
}

@media (max-width:320px) {
    .donate__subtitle {
        padding: 0rem 0 0 0.2rem;
    }
}

.donate__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.812rem;
    color: #333B41;
    align-self: flex-start;
    padding: 1.25rem 0 0 0;
    ;
    margin-left: 6rem;
}

@media (max-width:1000px) {
    .donate__text {
        width: 100%;
        max-width: 1400px;
        padding: 0.625rem 0 0 0;
        text-align: center;
        margin-left: 0rem;
    }
}

@media (max-width:655px) {
    .donate__text {
        width: 100%;
        padding: 1.3rem 0 0 0;
        margin-left: 0rem;
        text-align: center;
    }
}

@media (max-width:320px) {
    .donate__text {
        font-size: 16px;
        line-height: 140%;
        padding: 0.54rem 0 0 0.1rem;
    }
}

.donate__images {
    margin: 3.75rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 246px;
    width: 56.51%;
}

@media (max-width:1000px) {
    .donate__images {
        justify-content: space-between;
    }
}

@media (max-width:655px) {
    .donate__images {
        width: 100%;
    }
}

@media (max-width:320px) {
    .donate__images {
        width: 100%;
        height: 138.72px;
        margin: 1rem 0 0 0;
    }
}

.donate__images-count {
    display: flex;
    flex-direction: column;
    height: 95px;
}

.count__number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 4.5rem;
    line-height: 3.625rem;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding-top: 1.7rem;
    padding-right: 2rem;
}

@media (max-width:1000px) {
    .count__number {
        padding-top: 1.9rem;
        padding-right: 0.625rem;

    }
}

@media (max-width:655px) {
    .count__number {
        padding-top: 1.2rem;
        margin-left: 25px;
        padding-right: 0rem;
    }
}

@media (max-width:639px) {
    .count__number {
        font-size: 40.6015px;
        line-height: 80%;
        padding: 2.05rem 0 0 0;
        margin: 0;
    }
}

.count__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    text-align: center;
    color: #333B41;
    padding: 0.8rem 0rem 0 0;
}

@media (max-width:1000px) {
    .count__text {
        padding: 0.7rem 0rem 0 0rem;
        margin-left: -5px;
    }
}

@media (max-width:655px) {
    .count__text {
        margin: -2px 0 0 25px;
    }
}

@media (max-width:320px) {
    .count__text {
        width: 89.66px;
        font-size: 9.02255px;
        line-height: 140%;
        margin: 0;
        padding: 0.4rem 0 0 0;
    }
}

.donate__images-icon {
    margin: 1.8rem 3.6rem 0 0;
}

@media (max-width:655px) {
    .donate__images-icon {
        margin: 0.8rem 0rem 0 0;
        padding-right: 55px;
    }
}

@media (max-width:320px) {
    .donate__images-icon {
        margin: 0;
        padding: 1rem 1.9rem 0 0;
    }

    .donate__images-icon img {
        width: 7.89px;
        height: 7.89px;
    }
}

.donate__images-img {
    width: 284px;
    height: 246px;

}

@media (max-width:1000px) {
    .donate__images-img {
        margin-right: 0.3rem;
    }
}

@media (max-width:655px) {
    .donate__images-img {
        margin-right: 2.35rem;
        margin-top: -1.3rem;
    }
}

@media (max-width:320px) {
    .donate__images-img {
        width: 160.4px;
        height: 160px;
        margin-right: -0.22rem;
        margin-top: 0rem;
        margin-bottom: 11px;
    }
}

.donate__images-img img {
    width: 100%;
    height: 100%;
}

.pickfriend__amount {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #000000;
    align-self: flex-start;
    padding-left: 3px;
    padding-top: 48px;
}

.donate__sliders {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000;
    padding-top: 2.9rem;

}

@media (max-width:1000px) {
    .donate__sliders {
        padding-top: 3rem;
        /* border: 1px solid black; */
    }
}

@media (max-width:655px) {
    .donate__sliders {
        margin-top: 1.85rem;
        padding: 0 0 0 0.64rem;
    }
}

@media (max-width:320px) {
    .donate__sliders {
        margin-top: -0.15rem;
        padding: 0 0 0 0.15rem;
    }
}

.step-wizard-list {
    top: 17px;
    position: relative;
    z-index: 10;
    display: flex;
    margin: 0 auto;
    max-width: 976px;
    height: 27px;
    background: #404950;
    border-radius: 2px;
    list-style-type: none;
}

@media (max-width:1200px) {
    .step-wizard-list {
        width: 810px;
    }
}

@media (max-width:920px) {
    .step-wizard-list {
        top: 6.5px;
        left: 1.2px;
        width: 600px;
    }
}

@media (max-width:638px) {
    .step-wizard-list {
        top: 9px;
        left: 2px;
        height: 13.5px;
        width: 300px;
    }
}

.step-wizard-item {
    padding: 0 0px;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 130px;
    position: relative;
    top: 12.5px;
    right: 0;
    left: -34px;
}

.step-wizard-item:nth-child(3) .progress-label {
    color: #FE9013;
}

.step-wizard-item .progress-label:hover {
    color: #FE9013;
    cursor: pointer;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

@media (max-width:1200px) {
    .step-wizard-item:first-child {
        display: none;
    }

    .step-wizard-item:nth-child(3) .progress-label {
        color: #FE9013;
    }

    .step-wizard-item {
        left: -48px;
    }
}

@media (max-width:920px) {
    .step-wizard-item:first-child {
        display: none;
    }

    .step-wizard-item:nth-child(2) {
        display: none;
    }

    .step-wizard-item:nth-child(3) {
        display: none;
    }

    .step-wizard-item:nth-child(6) .progress-label {
        color: #FE9013;
    }

    .step-wizard-item {
        left: -25px;
    }
}

@media (max-width:638px) {
    .step-wizard-item {
        top: 9px;
        left: -13px;
        min-width: 65px;
    }

}

.step-wizard-list::before {
    content: "";
    position: absolute;
    top: 12.5px;
    left: 27px;
    background: #72828E;
    width: 915px;
    height: 2px;
    z-index: 10;
}


@media (max-width:1200px) {
    .step-wizard-list::before {
        width: 785px;
        left: 13px;
    }
}

@media (max-width:920px) {
    .step-wizard-list::before {
        width: 520px;
        left: 43px;
    }
}

@media (max-width:638px) {
    .step-wizard-list::before {
        top: 6px;
        width: 262px;
        left: 19px;
    }
}

.progress-count {
    height: 10px;
    width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 400;
    margin: 0 auto;
    position: relative;
    top: -5px;
    z-index: 10;
    color: transparent;
    background: #FFEE2E;
    cursor: pointer;
    background-clip: content-box;
    border: 1px solid transparent;
    transition: transform 0.5s ease, border 0.5s ease;
    -webkit-transition: transform 0.5s ease, border 0.5s ease;
    -moz-transition: transform 0.5s ease, border 0.5s ease;
    -ms-transition: transform 0.5s ease, border 0.5s ease;
    -o-transition: transform 0.5s ease, border 0.5s ease;
}

.step-wizard-item span:nth-child(1):hover {
    border: 1px solid #f4953b;
    padding: 2px 2px;
    transform: scale(1.8);
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -o-transform: scale(1.8);
}

.progress-label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    text-transform: uppercase;
    color: #333B41;
    padding-top: 17px;
    padding-left: 2px;
}

@media (max-width:1200px) {
    .progress-label {
        padding-top: 19px;
        padding-left: 0px;
    }


}

@media (max-width:638px) {
    .progress-label {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 140%;
        text-transform: uppercase;
        color: #333B41;
        padding-top: 5px;
    }

    .progress-count {
        width: 5px;
        height: 5px
    }
}

.pickfriend__amounts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 115px;
}

@media (max-width:650px) {
    .pickfriend__amounts {
        margin-top: 108px;
    }
}

@media (max-width:320px) {
    .pickfriend__amounts {
        margin-top: 61px;
    }
}

.amounts__another input {
    width: 268px;
    height: 54px;
    margin-left: -8px;
}

@media (max-width:655px) {
    .amounts__another {
        text-align: center;
    }

    .amounts__another input {
        width: 180px;
        height: 42px;
        margin-left: -5px;
        margin-top: -2px;
    }

    .amount__img {
        position: relative;
        right: 2px;
        top: -8px;
    }
}

@media (max-width:320px) {
    .amounts__another input {
        margin-left: -3px;
    }
}

input[type="number"] {
    background: transparent;
    border: 1px solid #929699;
    border-radius: 2px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #929699;
    padding-left: 10px;
}

input[type="number"]:focus-visible {
    color: #4B9200;
    outline: 1px solid #4B9200;
}

.amounts__another img {
    margin: 18px 0 0 -18px;

}

.amounts__radio {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 268px;
    gap: 55px;
}

@media (max-width:655px) {
    .amounts__radio {
        margin-top: 30px;
        width: 268px;
        gap: 0px;
    }
}

@media (max-width:320px) {
    .amounts__radio {
        margin-top: 22px;
    }
}

.radio-item-left {
    margin-left: -20px;
}

.radio-item {
    display: inline-block;
    position: relative;
}

@media (max-width:655px) {
    .radio-item-left {
        position: relative;
        top: -2px;
        left: -28px;
    }

    .radio-item-right {
        position: relative;
        top: -2px;
        right: -25px;
    }
}

.radio-item input[type='radio'] {
    display: none;
    cursor: pointer;
}

.radio-item label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    cursor: pointer;
}

.radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #FE9013;
    background-color: transparent;
}

.radio-item input[type=radio]:checked+label:after {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 7px;
    left: 2px;
    content: " ";
    display: block;
    background: #FE9013;
}

.amounts__button {
    width: 298px;
    height: 54px;
    background: #FE9013;
    border-radius: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.375rem;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 33px;
    margin-left: 7px;
}

@media (max-width:1000px) {
    .amounts__button {
        margin-top: 32px;
    }
}

@media (max-width:655px) {
    .amounts__button {
        margin-top: 29px;
    }
}

@media (max-width:320px) {
    .amounts__button {
        margin-top: 27px;
        margin-right: 3px;
    }
}

.amounts__button button {
    background: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 1.375rem;
    padding: 17px 0;
}

.amounts__button:hover {
    transition: all .4s ease;
    background: #E47209;
}

.amounts__text {
    margin-top: 30px;
    margin-bottom: 62px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    padding-left: 3px;
}

@media (max-width:1000px) {
    .amounts__text {
        margin-bottom: 45px;
    }
}

@media (max-width:655px) {
    .amounts__text {
        margin-bottom: 30px;
    }
}

@media (max-width:320px) {
    .amounts__text {
        margin-bottom: 0px;
        padding-bottom: 20px;
    }
}