.pickfriend {
    width: 100%;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    padding: 2.5rem 0 12.5rem 0;
}

.container__pickfriend {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    /* border: 1px solid black; */
    font-family: 'Roboto';
    font-style: normal;
    color: #FFFFFF;
}

.pickfriend__title {
    font: inherit;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.937rem;
    padding: 0.1rem 0.2rem 0 0;
}

.pickfriend__text {
    font: inherit;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.375rem;
    padding: 0.58rem 0 0 0;
}

.pickfriend__subtitle {
    font: inherit;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.937rem;
    align-self: flex-start;
    color: #FE9013;
    padding: 2.9rem 0 0 0;
}

.pickfriend__donate {
    width: 100%;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    margin: 3.75rem 0 0 0;
    padding: 2.5rem 0 0 0;
}

.donate__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 84.13%;
    /* border: 1px solid black; */
    margin: 0 auto;
}

.donate__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.625rem;
    text-align: center;
    color: #FE9013;
    padding: 0 0.75rem 0 0;
}

.donate__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.812rem;
    color: #333B41;
    align-self: flex-start;
    padding: 1.25rem 0 0 0;
}

.donate__images {
    margin: 3.75rem 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 246px;
    width: 56.51%;
}

.donate__images-count {
    display: flex;
    flex-direction: column;
    height: 95px;
}

.count__number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 4.5rem;
    line-height: 3.625rem;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding-top: 1.7rem;
}

.count__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    text-align: center;
    color: #333B41;
    padding: 0.8rem 0rem 0 0;
    padding-top: 12px;
}

.donate__images-icon {
    margin: 1.6rem 4.08rem 0 0;
}

.donate__images-img {
    /* position: relative; */
    width: 284px;
    height: 246px;
    margin-right: 1rem;
}

.donate__images-img img {
    width: 100%;
    height: 100%;
}

.pickfriend__amount {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #000000;
    align-self: flex-start;
    padding-left: 3px;
    padding-top: 48px;
}

.pickfriend__bar {
    width: 100%;
}

.bar {
    width: 100%;
    background: #404950;
    border-radius: 2px;
    height: 27px;
    margin-top: 18px;
}

progress {
    display: inline-block;
    cursor: pointer;
}

progress::-webkit-progress-value {
    display: inline-block;
    height: 4px;
    background: #72828E;
}

progress[value] {
    width: 94%;
    -webkit-appearance: none;
    margin-top: 10px;
    margin-left: 25px;
    height: 4px;
    background: #72828E;
}

.bar__circle {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 120px;
    /* border: 1px solid black; */
    margin-top: -20px;
    margin-left: 26px;
}

.circle div {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: -15px;
    left: -15px;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FFEE2E;
    position: relative;
    cursor: pointer;
    transition: 1s;
}

.circle:hover::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 22.95px;
    height: 22.95px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #FE9013;
    top: -8px;
    left: -8px;
}

.circle:hover::after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #FE9013;
    top: -16px;
    left: -16px;
}

.circle__checked::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 22.95px;
    height: 22.95px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #FE9013;
    top: -8px;
    left: -8px;
}

.circle__checked::after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #FE9013;
    top: -16px;
    left: -16px;
}



.bar__costs {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    /* border: 1px solid black; */
}


.bar__cost {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    /* or 36px */
    text-transform: uppercase;
    color: #333B41;
}

.bar__cost span {
    font-size: 23px;
}

.bar__cost:nth-child(1) {
    padding-right: 57px;
    margin-left: -2px;
}

.bar__cost:nth-child(2) {
    padding-right: 59px;
}

.bar__cost:nth-child(3) {
    color: #FE9013;
    padding-right: 58px;
}

.bar__cost:nth-child(4) {
    padding-right: 74px;
}

.bar__cost:nth-child(5) {
    padding-right: 72px;
}

.bar__cost:nth-child(6) {
    padding-right: 74px;
}

.bar__cost:nth-child(7) {
    padding-right: 85px;
}

.pickfriend__amounts {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.amounts__another input {
    width: 268px;
    height: 54px;
    margin-left: -8px;

}

input[type="number"] {
    background: transparent;
    border: 1px solid #929699;
    border-radius: 2px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #929699;
    padding-left: 10px;
}

input[type="number"]:focus-visible {
    color: #4B9200;
    outline: 1px solid #4B9200;
}

.amounts__another img {
    margin: 18px 0 0 -18px;

}

.amounts__radio {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 268px;
    gap: 55px;
}

.radio-item-left {
    margin-left: -20px;
}

.radio-item {
    display: inline-block;
    position: relative;
}


.radio-item input[type='radio'] {
    display: none;
    cursor: pointer;
}

.radio-item label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    cursor: pointer;
}

.radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #FE9013;
    background-color: transparent;
}

.radio-item input[type=radio]:checked+label:after {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 7px;
    left: 2px;
    content: " ";
    display: block;
    background: #FE9013;
}

.amounts__button {
    width: 298px;
    height: 54px;
    background: #FE9013;
    border-radius: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.375rem;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 33px;
    margin-left: 7px;
}

.amounts__button button {
    background: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 1.375rem;
    padding: 17px 0;
}

.amounts__button:hover {
    transition: all .4s ease;
    background: #E47209;
}

.amounts__text {
    margin-top: 30px;
    margin-bottom: 62px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    padding-left: 3px;
}