.pickfriend {
    width: 100%;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    padding: 2.5rem 0 0rem 0;
}

@media (max-width:1000px) {
    .pickfriend {
        /* padding: 2.5rem 0 3.1rem 0; */
    }
}

@media (max-width:990px) {
    .pickfriend {
        padding: 2.5rem 1.9rem 0rem 1.9rem;
    }
}

@media (max-width:640px) {
    .pickfriend {
        padding: 1.9rem 0rem 0rem 0rem;
    }
}

.container__pickfriend {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    /* border: 1px solid black; */
    font-family: 'Roboto';
    font-style: normal;
    color: #FFFFFF;
    padding-bottom: 199px;

}

@media (max-width:1000px) {
    .container__pickfriend {
        max-width: 940px;
        padding-bottom: 49px;
    }
}

@media (max-width:640px) {
    .container__pickfriend {
        max-width: 600px;
        padding-bottom: 51px;
    }
}

.pickfriend__title {
    font: inherit;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.937rem;
    padding: 0.1rem 0.2rem 0 0;
}

@media (max-width:1000px) {
    .pickfriend__title {
        width: 90%;
        padding: 0;
        align-self: flex-start;
    }
}

@media (max-width:640px) {
    .pickfriend__title {
        width: 95%;
        font-size: 1.5rem;
        line-height: 1.812rem;
        padding: 0rem 0.2rem 0 0;
    }
}

.pickfriend__text {
    font: inherit;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.375rem;
    padding: 0.58rem 0 0 0;
}

@media (max-width:1000px) {
    .pickfriend__text {
        width: 100%;
        padding: 1.9rem 0.2rem 0 0;
    }
}

@media (max-width:640px) {
    .pickfriend__text {
        width: 100%;
        padding: 1.2rem 0rem 0 0;
    }
}

.pickfriend__subtitle {
    font: inherit;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.937rem;
    align-self: flex-start;
    color: #FE9013;
    padding: 2.9rem 0 0 0;
}

@media (max-width:640px) {
    .pickfriend__subtitle {
        padding: 1.9rem 0 0 0;
    }
}

.pickfriend__donate {
    width: 100%;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    margin: 3.75rem 0 0 0;
    padding: 2.5rem 0 0 0;
}

@media (max-width:1000px) {
    .pickfriend__donate {
        margin: 2.4rem 0 0 0;
        padding: 1.3rem 0.2rem 0 0;
        /* border: 1px solid black; */
    }
}

@media (max-width:640px) {
    .pickfriend__donate {
        margin: 1.87rem 0 0 0;
    }
}

.donate__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* border: 1px solid black; */
    margin: 0 auto;
}

.donate__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.625rem;
    text-align: center;
    color: #FE9013;
    padding: 0 0.75rem 0 0;
}

@media (max-width:640px) {
    .donate__subtitle {
        padding: 0.6rem 0 0 0.3rem;
    }
}

.donate__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.812rem;
    color: #333B41;
    align-self: flex-start;
    padding: 1.25rem 0 0 0;
}

@media (max-width:1000px) {
    .donate__text {
        width: 107%;
        max-width: 1400px;
        padding: 0.625rem 0 0 0;
        margin-left: -1.7rem;
        /* border: 1px solid black; */
    }
}

@media (max-width:640px) {
    .donate__text {
        width: 103%;
        padding: 1.3rem 0 0 0;
        margin-left: -0.4rem;
        text-align: center;
    }
}

.donate__images {
    margin: 3.75rem 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 246px;
    width: 56.51%;
}

@media (max-width:1000px) {
    .donate__images {
        width: 70.51%;
    }
}

@media (max-width:640px) {
    .donate__images {
        width: 100%;
        border: 1px solid black;
    }
}

.donate__images-count {
    display: flex;
    flex-direction: column;
    height: 95px;
}

.count__number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 4.5rem;
    line-height: 3.625rem;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding-top: 1.7rem;
}

@media (max-width:1000px) {
    .count__number {
        padding-top: 1.9rem;
        padding-left: 0.625rem;
    }
}

@media (max-width:640px) {
    .count__number {
        padding-top: 1.2rem;
       margin-left: 20px;
    }
}

.count__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    text-align: center;
    color: #333B41;
    padding: 0.8rem 0rem 0 0;
    padding-top: 12px;
}

@media (max-width:1000px) {
    .count__text {
        padding: 0.7rem 0rem 0 0rem;
        margin-left: -5px;
    }
}
@media (max-width:640px) {
    .count__text {
        margin-left: 2px;
    }
}
.donate__images-icon {
    margin: 1.8rem 3.6rem 0 0;
}

@media (max-width:640px) {
    .donate__images-icon {
        margin: 0.8rem 3.2rem 0 0;
    }
}

.donate__images-img {
    width: 284px;
    height: 246px;
    margin-right: 1rem;
}

@media (max-width:640px) {
    .donate__images-img {
        margin-right: 1rem;
        margin-top: -1.3rem;
    }
}

.donate__images-img img {
    width: 100%;
    height: 100%;
}

.pickfriend__amount {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #000000;
    align-self: flex-start;
    padding-left: 3px;
    padding-top: 48px;
}

.donate__sliders {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000;
    padding-top: 2.9rem;

}

@media (max-width:1000px) {
    .donate__sliders {
        padding-top: 3rem;
    }
}

@media (max-width:640px) {
    .donate__sliders {
        padding-top: 1.9rem;
    }
}

.slider__progress {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    width: 976px;
    height: 27px;
    background: #404950;
    border-radius: 2px;
    position: relative;
    margin-top: 1.05rem;
}

@media (max-width:1000px) {
    .slider__progress {
        max-width: 810px;
        justify-content: flex-start;
        gap: 90px;

    }
}

@media (max-width:990px) {
    .slider__progress {
        max-width: 600px;
        gap: 102px;
        margin-top: 0.4rem;
        margin-left: -11px;
    }
}

.progress__item {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

@media (max-width:1000px) {
    .slider__progress li:nth-child(1) {
        display: none;
    }

    .progress__item:nth-child(3) label {
        color: #fe9013;
    }

    .slider__progress li:nth-child(8) {
        margin-left: 9px;
    }
}

@media (max-width:990px) {
    .slider__progress li:nth-child(1) {
        display: none;
    }

    .slider__progress li:nth-child(2) {
        display: none;
    }

    .slider__progress li:nth-child(3) {
        display: none;
    }

    .progress__item:nth-child(4) label {
        margin-left: 10px;
    }

    .progress__item:nth-child(5) label {
        margin-left: -1px;
    }

    .progress__item:nth-child(6) label {
        color: #fe9013;
    }

    .progress__item:nth-child(7) label {
        margin-left: -25px;
    }

    .slider__progress li:nth-child(8) {
        margin-left: -2px;
    }
}

.progress__item:hover label {
    color: #fe9013;
}

.progress__item input[type=radio] {
    display: none
}

.progress__item label {
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-transform: uppercase;
    color: #333b41;
    position: relative;
    cursor: pointer;
    margin-top: 40px;
    margin-left: -3px;
    transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

@media (max-width:1000px) {
    .progress__item label {
        margin-left: -14px;
    }
}

.progress__item label::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 14px;
    top: -31px;
    background: #ffee2e;
}

.progress__item label::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: url("../../../assets/icons/roller_icon.png");
    top: -46px;
    opacity: 0;
    -webkit-transition: .5s;
    transition: .5s
}

.progress__item label:hover::after {
    opacity: 1
}

.slider__progress::before {
    content: "";
    display: inline-block;
    position: absolute;
    background: #72828e;
    width: 915px;
    height: 2px;
    top: 13px;
    left: 30px;
}

@media (max-width:1000px) {
    .slider__progress::before {
        width: 785px;
        left: 12px;
    }
}

@media (max-width:990px) {
    .slider__progress::before {
        width: 524px;
        left: 37px;
    }
}


/* 
.circle:hover::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 22.95px;
    height: 22.95px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #FE9013;
    top: -8px;
    left: -8px;
}

.circle:hover::after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #FE9013;
    top: -16px;
    left: -16px;
}

.circle__checked::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 22.95px;
    height: 22.95px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #FE9013;
    top: -8px;
    left: -8px;
}

.circle__checked::after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #FE9013;
    top: -16px;
    left: -16px;
} */



.pickfriend__amounts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.amounts__another input {
    width: 268px;
    height: 54px;
    margin-left: -8px;
}

@media (max-width:640px) {
    .amounts__another {
        text-align: center;
    }

    .amounts__another input {
        width: 180px;
        height: 42px;
        margin-left: -18px;
        margin-top: -2px;
    }

    .amount__img {
        position: relative;
        right: 2px;
        top: -8px;
    }
}

input[type="number"] {
    background: transparent;
    border: 1px solid #929699;
    border-radius: 2px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #929699;
    padding-left: 10px;
}

input[type="number"]:focus-visible {
    color: #4B9200;
    outline: 1px solid #4B9200;
}

.amounts__another img {
    margin: 18px 0 0 -18px;

}

.amounts__radio {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 268px;
    gap: 55px;
}

@media (max-width:640px) {
    .amounts__radio {
        margin-top: 30px;
        width: 268px;
        gap: 0px;
    }
}

.radio-item-left {
    margin-left: -20px;
}

.radio-item {
    display: inline-block;
    position: relative;
}

@media (max-width:640px) {
    .radio-item-left {
        position: relative;
        top: -2px;
        left: -35px;
    }

    .radio-item-right {
        position: relative;
        top: -2px;
        right: -19px;
    }
}

.radio-item input[type='radio'] {
    display: none;
    cursor: pointer;
}

.radio-item label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    cursor: pointer;
}

.radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #FE9013;
    background-color: transparent;
}

.radio-item input[type=radio]:checked+label:after {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 7px;
    left: 2px;
    content: " ";
    display: block;
    background: #FE9013;
}

.amounts__button {
    width: 298px;
    height: 54px;
    background: #FE9013;
    border-radius: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.375rem;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 33px;
    margin-left: 7px;
}

@media (max-width:1000px) {
    .amounts__button {
        margin-top: 32px;
    }
}

@media (max-width:640px) {
    .amounts__button {
        margin-top: 29px;
        margin-right: 16px;
    }
}

.amounts__button button {
    background: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 1.375rem;
    padding: 17px 0;
}

.amounts__button:hover {
    transition: all .4s ease;
    background: #E47209;
}

.amounts__text {
    margin-top: 30px;
    margin-bottom: 62px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    padding-left: 3px;
}

@media (max-width:1000px) {
    .amounts__text {
        margin-bottom: 45px;
    }
}

@media (max-width:640px) {
    .amounts__text {
        margin-bottom: 30px;
    }
}