@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,regular,500,700,&display=swap');
@import 'header.css';
@import 'footer.css';
@import 'pickfriend.css';

* {
  padding: 0px;
  margin: 0px;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;

}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow-x: hidden;

}
.body-shadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(20, 20, 20, 0.4);
  z-index: 2;
  height: 2000px;
}

.lock {
  overflow: hidden;
}

:root {
  --main-text-color: #333B41;
  --main-bg-color: #FFFFFF;
  --card-text-color: #000000;
  --btn-text-color: #FFFFFF;
  --orange-text-color: #FE9013;
  --yellow-text-color: #FFEE2E;
  --white-text-color: #FFFFFF;
  --user-maintext-color: #767474;
  --user-text-color: #BDBDBD;
  --footer-bg-color: #111115;
}


.image {
  height: 386px;
  background: url("../../../assets/images/donate-panda.svg") no-repeat;
  background-position: center;
  background-size: cover
}

@media (max-width: 1000px) {
  .image {
    height: 390px;
    background: url("../../../assets/images/donate-panda.svg") no-repeat;
    background-position: 30% 20%;
    background-size: cover
  }
}

@media (max-width: 640px) {
  .image {
    height: 369px;
    background: url("../../../assets/images/donate-panda640px.svg") no-repeat;
    background-position: 100% 100%;
    background-size: contain;
  }
}
@media (max-width: 639px) {
  .image {
    background: url("../../../assets/images/donate-panda640px.svg") no-repeat;
    background-size: cover;
  }
}
@media (max-width: 320px) {
  .image {
    height: 221px;
    background: url("../../../assets/images/panda_bg320px.svg") no-repeat;
    background-position: 70% 100%;
    background-size: contain;
  }
}

.wrapper {
  margin: 0 auto;
}