.favorite-animal {
    width: 100%;
}

.animal__image {
    width: 100%;
    max-width: 1600px;
    height: 780px;
    background: url(../../../assets/images/main-panda.png) no-repeat;
    margin: 0 auto;
    background-position: 0px -80px;
}

@media(max-width: 1200px) {
    .animal__image {
        height: 584px;
        background-size: cover; 
        background-position: 50% -80px;    
    }
}

.container__animal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

@media(max-width: 1200px) {
    .container__animal {
        max-width: 940px;
    }
}

.animal__ellispe {
    position: relative;
    width: 465px;
    height: 465px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
    margin-right: 108px;
    margin-top: 12px;
}

@media(max-width: 1200px) {
    .animal__ellispe {
        width: 366px;
        height: 366px;
        margin-right: 9.195rem;
        margin-top: -9px;
    }
}

.ellipse__box {
    position: absolute;
    width: 500.31px;
    height: 400px;
    left: 73px;
    top: 0px;
    text-align: center;
}

@media(max-width: 1200px) {
    .ellipse__box {
        width: 400.25px;
        height: 320px;
    }
}

.ellipse__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 6.656rem;
    line-height: 5rem;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 72px;
}

@media(max-width: 1200px) {
    .ellipse__text {
        font-size: 5.31rem;
        line-height: 4rem;
        padding-top: 3.25rem;
        padding-right:2.1rem;
    }
}


.ellipse__text span {
    color: #FFEE2E;
}
@media(max-width: 1200px) {
    .ellipse__text span {
        margin-left: -0.562rem;
    }
}
.animal__btn {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    text-align: center;
    margin-top: 69px;
    margin-right: 99px;
    padding: 17px 20px;
    transition: all .4s ease;
    background-size: 300% 100%;
    cursor: pointer;
}

@media(max-width: 1200px) {
    .animal__btn {
        margin-top: 2.9rem;
        margin-right: 6.6rem;
    }
}

.animal__btn button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.375rem;
    text-transform: uppercase;
    color: #FFFFFF;
    background: none;
}

.animal__btn:hover {
    background-position: 100% 0;
    transition: all .4s ease;
    background: #E47209;
}