.pets {
    width: 100%;
    margin: 8rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 1400px) {
    .pets {
        margin: 3.4rem 0 0 0;
    }
}

@media(max-width: 1000px) {
    .pets {
        margin: 5.6rem 0 0 0;
    }
}

@media(max-width: 640px) {
    .pets {
        margin: 1.3rem 0 0 0;
    }
}

@media(max-width: 480px) {
    .pets {
        margin: 2.5rem 0 0 0;
    }
}

.wrap {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}

@media(max-width: 1400px) {
    .wrap {
        max-width: 1000px;
    }
}

@media(max-width: 900px) {
    .wrap {
        max-width: 700px;
    }
}

.b-carousel {
    width: 100%;
    max-width: 1160px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
}


.b-carousel__prev,
.b-carousel__next {
    position: absolute;
    top: 46.1%;
    left: -7.1%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    z-index: 3;
    width: 62px;
    height: 62px;
    border: 2px solid var(--orange-text-color);
    border-radius: 50%;
    background-color: var(--orange-text-color);
    background-repeat: no-repeat;
    background-size: 29%;
    background-position: center;
    padding: 0;
    cursor: pointer;
}

@media(max-width: 1400px) {

    .b-carousel__prev,
    .b-carousel__next {
        top: 46.2%;
        left: 35.3%;
    }
}

@media(max-width: 920px) {

    .b-carousel__prev,
    .b-carousel__next {
        top: 43.3%;
        left: 37.95%;
    }
}

@media(max-width: 640px) {

    .b-carousel__prev,
    .b-carousel__next {
        top: 42.9%;
        left: 37.95%;
    }
}

@media(max-width: 560px) {

    .b-carousel__prev,
    .b-carousel__next {
        top: 42.9%;
        left: 27%;
    }
}

@media(max-width: 480px) {

    .b-carousel__prev,
    .b-carousel__next {
        display: none;
    }
}

.b-carousel__prev,
.b-carousel__next:hover {
    background-color: #E47209;
    border: 2px solid #E47209;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.b-carousel__prev img {
    position: absolute;
    left: 37.1%;
    right: 37.1%;
    top: 43.55%;
    bottom: 43.55%;
    z-index: 2;
}

.b-carousel__next img {
    position: absolute;
    left: 37.1%;
    right: 37.1%;
    top: 43.55%;
    bottom: 43.55%;
    z-index: 2;
}

.b-carousel__next {
    left: auto;
    right: -7.1%;
}

@media(max-width: 1400px) {
    .b-carousel__next {
        right: 35.3%;
    }
}

@media(max-width: 640px) {
    .b-carousel__next {
        right: 37.95%;
    }
}

@media(max-width: 560px) {
    .b-carousel__next {
        right: 27%;
    }
}

@media(max-width: 400px) {
    .b-carousel__next {
        display: none;
    }
}

.b-carousel__wrap {
    display: flex;
    transition: transform .5s;
    will-change: transform;
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1160px;
    height: 872px;
    margin: 0 auto;
}




@media(max-width: 1000px) {
    .b-carousel__wrap {
        height: 801px;
    }
}

@media(max-width: 480px) {
    .b-carousel__wrap {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 1388px;
        margin-left: -8px;
    }
}

.b-carousel__item {
    height: 872px;
    flex: 0 0 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    column-gap: 1.87rem;
    row-gap: 1.25rem;
    align-self: center;
}

@media(max-width: 1000px) {
    .b-carousel__item {
        row-gap: 5.75rem;
        height: 801px;
    }
}

@media(max-width: 480px) {
    .b-carousel__item {
        gap: 1.25rem;

    }
}

.item__card {
    display: block;
    width: 366px;
    height: 426px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #FA6F32;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

@media(max-width: 1400px) {
    .item__card {
        width: 294px;
        height: 354px;
    }
}

@media(max-width: 990px) {
    .item__card {
        width: 285px;
        height: 332px;
    }
}

.card__img {
    width: 100%;
}

@media(max-width: 1400px) {
    .card__img {
        width: 294px;
        height: 294px;
    }
}

@media(max-width: 990px) {
    .card__img {
        width: 285.24px;
        height: 285.24px
    }
}

@media(max-width: 640px) {
    .card__img {
        height: 284px
    }
}

.card__img img {
    transition: 0.5s
}

@media(max-width: 1400px) {
    .card__img img {
        width: 100%;
        height: 100%;
    }
}

.card__info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 0 0 0;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 83%;
    transition: .5s ease;
}

.card__subtitle {
    width: 294px;
    height: 22px;
}

.card__subtitle p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.375rem;
    text-transform: uppercase;
    color: #000000;
}

@media(max-width: 640px) {
    .card__subtitle p {
        font-size: 12.4695px;
        line-height: 140%;
    }
}

.card__text {
    width: 294px;
    height: 18px;
}

.card__text p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 0.93rem;
    line-height: 1.125rem;
    color: #000000;
    padding-bottom: 5px;
}

@media(max-width: 1400px) {
    .card__text p {
        padding-bottom: 0px;
    }
}

@media(max-width: 640px) {
    .card__text p {
        font-size: 11.6px;
        line-height: 120%;
        margin-top: -6px;
    }

    .info {
        margin-top: -3px;
        margin-left: 10px;
    }

    .card__icon img {
        width: 37.41px;
        height: 29.62px;
        margin-top: -10px;
    }
}

/* =======================Hover card =========================*/
.card__hover {
    position: absolute;
    bottom: 0;
    top: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    background: rgba(46, 45, 45, 0.9);
    transition: 0.5s;
    color: #FFFFFF;
}

.hover__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 140%;
    text-transform: uppercase;
}

.hover__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 0.937rem;
    line-height: 120%;
}

.item__card:hover .card__hover {
    top: 0;
    bottom: 0;
}

.item__card:hover .card__img img {
    transform: scale(1.05)
}

/* ======================================================= */


.pets__btn {
    width: 100%;
}

.button__slider-last {
    width: 298px;
    height: 54px;
    background: #FE9013;
    border-radius: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.375rem;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 79px;
    padding-left: 4px;
}

@media(max-width: 1400px) {
    .button__slider-last {
        margin-top: 2.8rem;
        padding-left: 4px;
    }
}

@media(max-width: 1000px) {
    .button__slider-last {
        margin-top: 5.07rem;
    }
}

@media(max-width: 640px) {
    .button__slider-last {
        margin-top: 0.94rem;
    }
}

@media(max-width: 320px) {
    .button__slider-last {
        margin-top: 1.25rem;
        padding-left: 2px;
        margin-right: 1.5px;
    }
}

.button__slider-last:hover {
    transition: all .4s ease;
    background: #E47209;
}

.pets__foto {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 1600px;
    height: 460px;
    background: transparent;
    margin-top: -360px;
}

.foto__left {
    background: url(../../../assets/images/flowers/palm-wildernessworld.svg) no-repeat;
    height: 460px;
    width: 880px;
}

.foto__right {
    background: url(../../../assets/images/flowers/strelitzia-wildernessworld.svg) no-repeat;
    width: 368px;
    height: 275px;

}

@media(max-width: 1200px) {
    .pets__foto {
        max-width: 1000px;
        height: 202px;
        margin-top: -3.87rem;
    }

    .foto__left {
        width: 386px;
        height: 202px;
        background-size: contain;
        background-size: 68% 100%;
    }

    .foto__right {
        background-size: contain;
        width: 241px;
        height: 180px
    }
}

@media(max-width: 640px) {
    .pets__foto {
        max-width: 640px;
        height: 202px;
        margin-top: -6.4rem;
    }

    .foto__left {
        width: 385px;
        height: 202px;
        background-size: contain;
        background-size: 36.3% 100%;
    }

    .foto__right {
        background-size: contain;
        width: 175px;
        height: 131px
    }
}

@media(max-width: 500px) {
    .pets__foto {
        margin-top: 0rem;
    }

}

@media(max-width: 320px) {
    .pets__foto {
        max-width: 320px;
        height: 72px;
        margin-top: -0.75rem;
    }

    .foto__left {
        width: 138px;
        height: 72px;
        background-size: 50% 100%;
    }

    .foto__right {
        width: 85px;
        height: 71px;
        background-size: 140% 109%;
    }
}