.pets {
    width: 100%;
    margin: 8rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__pets {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

.pets__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.slider {
    width: 1158px;
    overflow: hidden;
}

.pets__wrapper {
    position: relative;
    display: flex;
}

.slide-item {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    column-gap: 1.87rem;
    row-gap: 1.25rem;
}

.item__card {
    width: 31.60%;
    min-height: 426px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #FA6F32;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.card__img {
    width: 100%;
}

.card__img img {

    transition: 0.5s
}

.card__info {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    padding: 0.6rem 0 0 0;
}

.info {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    text-align: left;
    width: 83%;
    transition: .5s ease;
}

.card__subtitle {
    width: 294px;
    height: 22px;
}

.card__subtitle p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.375rem;
    text-transform: uppercase;
    color: #000000;
}

.card__text {
    width: 294px;
    height: 18px;
}

.card__text p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 0.93rem;
    line-height: 1.125rem;
    color: #000000;
    padding-bottom: 5px;
}

/* =======================Hover card =========================*/
.card__hover {
    position: absolute;
    bottom: 0;
    top: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    background: rgba(46, 45, 45, 0.9);
    transition: 0.5s;
    color: #FFFFFF;
}

.hover__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
}

.hover__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
}

.item__card:hover .card__hover {
    top: 0;
    bottom: 0;
}

.item__card:hover .card__img img {
    transform: scale(1.05)
}

/* ======================================================= */


.pets__btn {
    width: 100%;
}

.button__slider-last {
    width: 298px;
    height: 54px;
    background: #FE9013;
    border-radius: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.375rem;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 79px;
    padding-left: 4px;
}

.button__slider-last:hover {
    transition: all .4s ease;
    background: #E47209;
}

.button__arrow {
    width: 62px;
    height: 62px;
    border: 2px solid var(--orange-text-color);
    border-radius: 50%;
    background-color: var(--orange-text-color);
    top: 45.1%;
    background-repeat: no-repeat;
    background-size: 29%;
    background-position: center;
    padding: 0;
}

.button__arrow:focus {
    background-color: #4B9200;
    border: 2px solid #4B9200;
}

.button__arrow:hover {
    background-color: #E47209;
    border: 2px solid #E47209;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.button__arrow-left {
    width: 62px;
    height: 62px;
    position: absolute;
    top: 403px;
    left: -82px;
    background-image: url("../../../assets/icons/arrow-left.svg");

}

.button__arrow-right {
    position: absolute;
    top: 403px;
    right: -82px;
    width: 62px;
    height: 62px;
    background-image: url("../../../assets/icons/arrow-right.svg");
}

.pets__foto {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 1600px;
    height: 460px;
    background: transparent;
    margin-top: -360px;
}

.foto__left {
    background: url(../../../assets/images/flowers/palm-wildernessworld.png) no-repeat;
    min-height: 460px;
    width: 880px;

}

.foto__right {
    background: url(../../../assets/images/flowers/strelitzia-wildernessworld.png) no-repeat;
    width: 368px;
    height: 275px;

}