.thebackstage {
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
}

@media(max-width: 1400px) {
    .thebackstage {
        max-width: 1000px;
        padding: 0 30px;
    }
}

@media(max-width: 900px) {
    .thebackstage {
        display: flex;
        padding: 0;
    }
}

.thebackstage__left-img {
    width: 12.687%;
    height: 605px;
    background: url(../../../assets/images/flowers/flower-wildernessworld.png) no-repeat;
    background-position: 0px 0px;
    margin-top: -69px;
    float: right;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (max-width: 1400px) {
    .thebackstage__left-img {
        display: none;
    }
}

@media (max-width: 900px) {
    .thebackstage__left-img {
        display: block;
        width: 231px;
        height: 476px;
        background-size: contain;
        background-position: 70px 0px;
        order: 1;
    }
}

.container__thebackstage {
    display: flex;
    justify-content: space-between;
    width: 73.75%;
    margin: 0 auto;
    /* border: 1px solid black; */
    padding-top: 60px;
    margin-right: -50px;
}

@media(max-width: 1400px) {
    .container__thebackstage {
        width: 100%;
        max-width: 940px;
        /* border: 1px solid black; */
        padding-top: 1rem;
        margin-right: 0px;
    }
}

@media(max-width: 900px) {
        .container__thebackstage {
            max-width: 640px;
            padding: 0;
    }
}


.thebackstage__img {
    width: 51.61%;
    min-height: 402px;
    background: url(../../../assets/images/wildernessworld.png);
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: bottom;
    margin: 0.4px 0px 0px 2px;
}

@media(max-width: 1400px) {
    .thebackstage__img {
        width: 48.40%;
        height: 408px;
        background: url(../../../assets/images/bamboo-cap.svg);
        object-fit: contain;
        object-position: center;
        margin: 0.803rem 2px 0px 0px;
    }
}

@media(max-width: 900px) {
    .thebackstage__img {
        display: none;
    }
}

.thebackstage__box {
    width: 41.10%;
    min-height: 402px;
    align-self: center;
    /* border: 1px solid black; */
}

@media(max-width: 1400px) {
    .thebackstage__box {
        width: 48.29%;
        /* border: 1px solid black; */
    }
}

@media(max-width: 900px) {
    .thebackstage__box {
        width: 100%;
        padding-left: 20px;
        /* border: 1px solid black; */
    }
}

.box__title {
    padding: 0 0 1.25rem 0.25rem;
}

@media(max-width: 1400px) {
    .box__title {
        padding: 0.25rem 0 0 0;
    }
}

@media(max-width: 900px) {
    .box__title {
        width: 100%;
    }
}

.box__title h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.625rem;
    color: #333B41;
}

.box__text {
    width: 95%;
    padding: 0 0 3.125rem 0.25rem;
    /* border: 1px solid black; */
}

@media(max-width: 1400px) {
    .box__text {
        width: 100%;
        padding: 1.3rem 0 3.125rem 0rem;
    }
}

.box__text p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    color: #333B41;
}

.box__subtitle {
    /* border: 1px solid black; */
    width: 80%;
    padding: 0.20rem 0 2.12rem 0.25rem;
}

@media(max-width: 1400px) {
    .box__subtitle {
        padding: 0.20rem 0 0.8rem 0rem;
    }
}

.box__subtitle p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.81rem;
    color: #333B41;
}