* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    font-family: "Roboto", sans-serif
}

ul {
    list-style: none;
    padding-left: 0
}

a {
    text-decoration: none;
    color: inherit
}

input {
    outline: none
}

input[type=number] {
    -moz-appearance: textfield
}

.container-header {
    background-color: #000
}

.wrapper {
    max-width: 1160px;
    margin: 0 auto
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    padding: 14px 0
}

.logo {
    position: relative;
    width: 82px;
    height: 52px;
    border: 1px solid #fff;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.logo:hover {
    cursor: pointer
}

.logo-title {
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    margin: 0;
    text-align: center
}

.logo-title a {
    display: inline-block;
    width: 82px;
    height: 52px;
    padding-top: 3px
}

.logo::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 20px;
    top: 23px;
    left: 9px;
    background: url("../online-zoo/assets/icons/bamboo.svg") no-repeat
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 5px;
    width: 1073px
}

.nav-item {
    margin-left: 58px
}

.nav-item-copyright {
    margin-left: auto
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    -webkit-transition: .3s;
    transition: .3s
}

.nav-link:hover {
    color: #e47209
}

.nav-link-active {
    color: #e47209
}

.watch {
    height: 386px;
    background: url("../online-zoo/assets/images/donate-panda.svg") no-repeat;
    background-position: center;
    background-size: cover
}

.container-friend {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: .9;
    padding: 40px 220px 180px
}

.friend-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #fff;
    padding-bottom: 10px
}

.friend-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
    padding-bottom: 45px;
    padding-right: 5px
}

.friend-subtitle {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #fe9013;
    padding-bottom: 60px
}

.friend-help {
    background: rgba(253, 253, 255, .52);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 40px 92px 62px 92px;
    position: relative
}

.friend-help-title {
    text-align: center;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #fe9013;
    padding-bottom: 20px
}

.friend-help-desc {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333b41;
    padding-bottom: 60px
}

.friend-help-amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 48px
}

.friend-help-amount-number {
    width: 159px;
    padding-top: 106px
}

.friend-help-amount-number-diet {
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    color: #333b41;
    text-align: center;
    padding-bottom: 11px
}

.friend-help-amount-cross {
    position: relative;
    margin-right: 64px;
    margin-left: 11px;
    padding-top: 130px
}

.friend-help-amount-cross-right {
    position: absolute;
    left: 0
}

.friend-help-slider-world {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000;
    margin-bottom: 17px
}

.friend-help-slider-progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 12px;
    width: 976px;
    height: 27px;
    background: #404950;
    border-radius: 2px;
    position: relative
}

.friend-help-slider-progress-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 40px;
    height: 40px;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s
}

.friend-help-slider-progress-item:hover label {
    color: #fe9013
}

.friend-help-slider-progress-item input[type=radio] {
    display: none
}

.friend-help-slider-progress-item label {
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-transform: uppercase;
    color: #333b41;
    margin-top: 21px;
    position: relative;
    cursor: pointer;
    margin-top: 40px;
    -webkit-transition: .5s;
    transition: .5s
}

.friend-help-slider-progress-item label::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 14px;
    top: -31px;
    background: #ffee2e
}

.friend-help-slider-progress-item label::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: url("../../../assets/icons/roller_icon.png");
    top: -46px;
    opacity: 0;
    -webkit-transition: .5s;
    transition: .5s
}

.friend-help-slider-progress-item label:hover::after {
    opacity: 1
}

.friend-help-slider-progress::before {
    content: "";
    display: inline-block;
    position: absolute;
    background: #72828e;
    width: 915px;
    height: 2px;
    top: 13px;
    left: 30px
}

.friend-help-money {
    width: 268px;
    position: relative;
    margin: 0 auto;
    margin-top: 100px
}

.friend-help-money::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 20px;
    top: 16px;
    right: 10px;
    background: url("../../../assets/icons/dol.svg") no-repeat
}

.friend-help-money-field {
    background: rgba(0, 0, 0, 0);
    width: 268px;
    height: 54px;
    border: 1px solid #929699;
    border-radius: 2px;
    padding: 16px 9px
}

.friend-help-money-field::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.friend-help-money-field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.friend-help-money-field:focus {
    border: 1px solid #4b9200
}

.friend-help-radio {
    margin: 0 auto;
    margin-top: 25px;
    width: 201px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 57px;
    margin-bottom: 31px
}

.friend-help-radio-btn {
    display: none
}

.friend-help-radio-text {
    position: relative;
    cursor: pointer;
    padding-left: 20px
}

.friend-help-radio-text::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    left: -6px;
    bottom: 2px;
    border-radius: 50%;
    border: 1px solid #fe9013
}

.friend-help-share {
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333b41;
    text-align: center
}

.friend-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fe9013;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    width: 298px;
    height: 54px;
    border-radius: 25px;
    border: none;
    -webkit-transition: .6s;
    transition: .6s;
    margin: 0 auto
}

.friend-btn:hover {
    cursor: pointer;
    background-color: #e47209
}

.friend-btn:active {
    background-color: #4b9200
}

.slider-active label:after {
    opacity: 1
}

.slider-active label {
    color: #fe9013
}

.friend-help-radio-btn:checked+.friend-help-radio-text::before {
    background: #4b9200;
    border: 1px solid #4b9200
}

.container-footer {
    background-color: #111115;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 38px
}

.footer-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 36px
}

.footer-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fe9013;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    width: 298px;
    height: 54px;
    border-radius: 25px;
    border: none;
    -webkit-transition: .6s;
    transition: .6s;
    border-radius: 5px;
    margin-bottom: 44px
}

.footer-btn:hover {
    cursor: pointer;
    background-color: #e47209
}

.footer-btn:active {
    background-color: #4b9200
}

.footer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end
}

.footer-block-social-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s
}

.footer-block-social-item-icon {
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, .5);
    border-radius: 50%;
    margin-right: 12px;
    -webkit-transition: .5s;
    transition: .5s
}

.footer-block-social-item-icon a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 26px;
    height: 26px
}

.footer-block-social-item:hover .footer-block-social-item-icon {
    background: #4b9200
}

.footer-block-social-item:hover {
    color: #4b9200
}

.footer-block-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    margin-left: 59px
}

.footer-block-copyright {
    height: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #fff;
    margin-bottom: 17px;
    -webkit-transition: .5s;
    transition: .5s
}

.footer-block-copyright:hover {
    cursor: pointer;
    color: #4b9200;
    text-decoration: underline;
    text-underline-offset: 6px
}

.footer-block-nav .nav-item {
    margin-bottom: 12px
}

.subscription {
    width: 371px
}

.subscription-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #fff
}

.subscription-input {
    width: 228px;
    border: .7px solid #e47209;
    border-radius: 2px;
    background: #000;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #bdbdbd;
    padding: 10px 7px 10px 10px;
    margin-right: 10px;
    margin-top: 14px;
    -webkit-transition: .3s;
    transition: .3s
}

.subscription-input:focus {
    border-color: #4b9200
}

.subscription-btn {
    width: 129px;
    height: 42px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #f1f3f2;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000;
    -webkit-transition: .5s;
    transition: .5s
}

.subscription-btn:hover {
    cursor: pointer;
    border-color: #4b9200;
    color: #4b9200
}

/*# sourceMappingURL=style.min.css.map */